.form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  padding: 20px;
  border: 1px solid black;
  margin: 5px auto;
}

.input {
  margin-bottom: 30px;
  height: 30px;
  border-radius: 5px;
  width: 250px;
  background-color: rgb(182, 179, 196);
}
.label {
  font-size: 20px;
  margin-bottom: 8px;
}
.button {
  background: rgb(201, 196, 196);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
  height: 24px;
  margin: 2px auto;
}
.button:hover,
.button:focus {
  transform: scale(1.1);
  background-color: hwb(44 8% 19% / 0.671); 
}
